#root {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #202020;
    height: 100vh;
    padding-top: 20px;
  }
  
  .container {
    background-color: #fff;
    margin: 0 auto;
    width: 500px;
    padding: 20px 6px 40px 6px;
    border-radius: 10px;
  }
  
  .title {
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto;
  }
  
  .new-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #989898;
    border-radius: 6px;
    padding: 13px 40px 13px 13px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .new-item:hover {
    border: 1px solid #66bedc;
    -webkit-box-shadow: inset 0px 0px 0px 2px #66bedc;
            box-shadow: inset 0px 0px 0px 2px #66bedc;
  }
  
  .new-high-item__text,
  .new-low-item__text {
    font-size: 18px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 430px;
  }
  
  .new-high-item__text::-webkit-input-placeholder .new-low-item__text::-webkit-input-placeholder {
    font-size: 18px;
    color: #bbbbbb;
  }
  
  .new-high-item__text:-ms-input-placeholder .new-low-item__text:-ms-input-placeholder {
    font-size: 18px;
    color: #bbbbbb;
  }
  
  .new-high-item__text::-ms-input-placeholder .new-low-item__text::-ms-input-placeholder {
    font-size: 18px;
    color: #bbbbbb;
  }
  
  .new-high-item__text::placeholder .new-low-item__text::placeholder {
    font-size: 18px;
    color: #bbbbbb;
  }
  
  .new-item_add {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    top: 13px;
    right: 12px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: inherit;

  }
  
  .new-item_add:hover svg line {
    stroke: #202020;
  }
  
  .item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    border: 1px solid #989898;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 10px;
    min-height: 45px;
  }
  
  .item-check {
    position: absolute;
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: 9px;
    left: 9px;
    border: solid 1px #998899;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  }
  
  .item-check:checked {
    background-color: #c4c4c4;
  }
  
  .item-text {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    word-wrap: break-word;
  }
  
  .item-close {
    position: absolute;
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 23px;
    height: 23px;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  .item-close:hover svg line {
    stroke: #202020;
  }
  
  .block-clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  
  .button-clear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 135px;
    font-size: 14px;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #989898;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .button-clear:hover {
    background-color: #dfdddd;
  }
  
  .button-clear:active {
    background-color: #c4c3c3;
  }
  
  