#root {
    background-color: #f3eaea;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    height: 100vh;
    padding-top: 20px;
};
.container {
    background-color: #fff;
    margin: 0 auto;
    width: 600px;
    padding: 20px 5px 40px 5px;
    border-radius: 10px;  
};
.title {
    text-align: center;
    text-transform: uppercase;
    margin: 10px auto;
};
